input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid #E5890A;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #E5890A;
  position: relative;
}

input:checked::before {
  content: "✓";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}