* {
  font-family: 'Lexend';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face{
  font-family: "Lexend";
  src: local("Lexend"), url("./assests/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
